<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Niceboat</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/css/cover.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block hide_nav %}
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main') if current_user.is_authenticated else url_for('index') }}">Niceboat</a>
        </div>
    {% if current_user.is_authenticated %}
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
	    <li><a href="{{ url_for('main') }}">隧道口</a></li>
	    <li><a href="{{ url_for('logout') }}">退出</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    {% endif %}
      </div>
    </nav>
    {% endblock %}

    {% block content %}{% endblock %}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
