{% extends "base.html" %}
{% block title %}登录{% endblock %}

{% block hide_nav %}{% endblock %}

{% block content %}
   <div class="site-wrapper">
     <div class="site-wrapper-inner">
       <div class="cover-container">

<div class="inner cover">
  <h1 class="cover-heading">乘坐Niceboat穿越国界!</h1>

  <div style="text-align: center; margin: 20px">
    <img src="niceboat.png" width="317" height="317" alt="Niceboat">
  </div>

  <form method="POST" action="{{ url_for('index') }}">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    {% if auth_failed %}<div class="alert alert-danger" role="alert">密码有误，又或你并无权穿越。</div>{% endif %}
    <div class="form-group">
      <label for="text">用户名</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="用户名">
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="密码">
    </div>
    <button type="submit" class="btn btn-lg btn-primary">穿越吧!</button>
    <a href="{{ url_for('password_forget') }}" class="pull-right">忘记或修改密码</a>
  </form>
</div>

        </div>
      </div>
    </div>
	
{% endblock %}
