{% extends "base.html" %}
{% block title %}隧道口{% endblock %}

{% block content %}
<div class="container">
  <h1>穿越方案选择</h1>
  <div class="row">
    <div class="col-md-12">
      <p>首推V2Ray，它稳定性和速度较快。配置可能稍为繁琐一点点。Shadowsocks会相对慢和易断线。</p>
      <p>Niceboat两者都支持，配置参数(密码)在下面列出。</p>
    </div>
  </div>

  <hr>

  <h1>V2Ray隧道</h1>
  <div class="row">
    <div class="col-md-12">
      <p>如果已经安装V2Ray软件，请看<a href="#param_v2ray">配置参数</a>。</p>
    </div>
  </div>
  
  <h2>安装方法</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>PC</h3>
      <ul>
        <li><a href="/files/V2RayW-1.0.0-beta2.zip">下载V2RayW图形界面</a>、在桌面解压。</li>
        <li>在解压后的文件夹中，建一个叫<em>v2ray-core</em>的目录</li>
        <li><a href="/files/v2ray-4.22.1-windows-64.zip">下载V2Ray Core</a>、解压到上面的<em>v2ray-core</em>文件夹中。</li>
        <li>双击V2RayW.exe运行，然后它会出现在小时钟边上的小图示里</li>
        <li>右点小图示 → 配置(Configure...)，VMess Servers点新增(Add)，右面的部份按连线参数填写，最后点保存(Save)。</li>
        <li>右点小图示 → 全局模式(Global Mode)。<br>建议不要用PAC模式(PAC Mode)。</li>
        <li>右点小图示 → 路由方式(V2Ray's Routing Rule) → bypass cn &amp; private</li>
        <p>另，如果希望所有网站都走隧道，包括国内的，那么右点小图示 → 路由方式(V2Ray's Routing Rule) → all to direct</p>
      </ul>
    </div>
    <div class="col-md-6">
       <h3>其他系统</h3>
       <p>Android, iOS, MacOS, Linux也有相应的软件，参阅官方文件 <a href="https://www.v2ray.com/awesome/tools.html">神一样的工具们</a>。配置方法待补充。</p>
    </div>
  </div>

  <div id="param_v2ray">
  <h2>连线参数 (VMess)</h2>
  <p>你的专属隧道是创建于: {{ ss_links.v2ray.time | strftime }}。有效期约{{ Config.exp_day }}天。</p>
  <div class="row">
    <div class="col-md-12">
    <pre>主机 Host: {{ ss_links.v2ray.host }}
端口 Port: {{ ss_links.v2ray.port }}
(或称 - 地址 Address: {{ ss_links.v2ray.host }}:{{ ss_links.v2ray.port }})

User ID: {{ ss_links.v2ray.passphrase }}
Alter ID: 64
Level: 1
Security: Auto
Network: tcp
{{ ss_links.ssphrase }}</pre>
    </div>
  </div>
  </div>

  <hr>

  <h1>Shadowsocks隧道</h1>
  <div class="row">
    <div class="col-md-12">
      <p>如果已经安装Shadowsocks软件，请看<a href="#param_gcm">配置参数</a>。</p>
    </div>
  </div>

  <h2>安装方法</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>PC</h3>
      <ul>
        <li><a href="/files/Shadowsocks-4.0.4.zip">下载Zip</a>、解压、双击运行</li>
        <li>运行后可能出现在小时钟边上的小图示里</li>
        <li>从上面把ss://的网址复制，【右点小图示-&gt;服务器-&gt;从剪贴板导入】来配置服务器。</li>
        <li>【右点小图示-&gt;启用】即可穿越上网。</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Mac OS X</h3>
      <ul>
        <li><a href="/files/ShadowsocksX-NG.1.5.1.zip">下载Zip</a>、解压、双击运行</li>
        <li>楼主尚验证使用方法，请暂时参照PC的。</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Android</h3>
      <ul>
        <li><a href="/files/shadowsocks-nightly-4.1.8.apk">直接下载和安装APK</a>，或经<a href="https://play.google.com/store/apps/details?id=com.github.shadowsocks">Shadowsocks (Play Store)</a>安装</li>
        <li>安装后，回到此页点开上面的ss://连接，同意用刚装的软件打开，即完成配置。</li>
        <li>在软件中启用隧道，即可穿越上网。</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>iOS</h3>
      <ul><li>以下App三选一安装一个
        <ul>
          <li><a href="https://itunes.apple.com/cn/app/wingy-proxy-for-ss-http-s/id1178584911?l=zh&mt=8">Wingy (for 10, App Store)</a></li>
          <li><a href="https://itunes.apple.com/cn/app/wingy-mian-fei-banvpn-ke-hu/id1148026741?mt=8">Wingy (for 9.3, App Store)</a></li>
          <li><a href="https://itunes.apple.com/tw/app/shadowsocks/id665729974?mt=8">Shadowsocks (App Store，限国外港澳台地区账号)</a></li>
        </ul></li>
        <li>安装后，回到此页点开上面的ss://连接，同意用刚装的软件打开，即完成配置。</li>
        <li>在软件中启用隧道 (第一次使用要再确认增加VPN配置)，即可穿越上网。</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Linux (Ubuntu)</h3>
      <pre>sudo add-apt-repository ppa:max-c-lv/shadowsocks-libev
sudo apt-get update
sudo apt install shadowsocks-libev

man ss-local</pre>
      <ul>
        <li>其他版本的安装方法请看 https://github.com/shadowsocks/shadowsocks-libev</li>
        <li>运行ss-local后还需要配置浏览器使用Sock5 Proxy。This is left as an exercise to the reader.</li>
      </ul>
    </div>
  </div>

  <div id="param_gcm">
  <h2>连线参数 (GCM)</h2>
  <p>你的专属隧道是创建于: {{ ss_links.aes_256_gcm.time | strftime }}。有效期约{{ Config.exp_day }}天。</p>
  <p>请选用以下其中一种方法设定你的Shadowsocks软件 (三种是一样的)</p>
  <div class="row">
    <div class="col-md-4">
      <h3>连接</h3>
      <p>只限手机浏览器能直接点。PC和Mac OS一般要先复制再在软件中某处贴上。</p>
      <div style="word-wrap: break-word;"><a href="{{ ss_links.aes_256_gcm.url }}">{{ ss_links.aes_256_gcm.url }}</a></div>
    </div>
    <div class="col-md-4">
      <h3>QR Code</h3>
      <p>请用Shadowsocks程序去扫描。<br><strong>不要用</strong>支付宝或微信去扫描。</p>
      <div id="qrcode_gcm" style="width: 128px; height: 128px; padding: 10px;"></div>
    </div>
    <div class="col-md-4">
    <h3>手工输入</h3>
    <pre>主机 Host: {{ ss_links.aes_256_gcm.host }}
端口 Port: {{ ss_links.aes_256_gcm.port }}
密码 Passphrase: {{ ss_links.aes_256_gcm.passphrase }}
加密算法 Encryption Algorithm: {{ ss_links.aes_256_gcm.encryption }}</pre>
    </div>
  </div>
  </div>

  <hr>

  <h1>疑难排解</h1>
  <ul>
    <li>你的专属隧道有效期约{{ Config.exp_day }}天，之后会失效。到时候请重新登录再配置一次。</li>
    <li>部份软件提供<strong>全局(Global)</strong>或<strong>只限黑名单(PAC)/中国地区自动侦察</strong>两种模式选择，因为名单更新未必及时，如遇问题时请切换到Global模式再试。</li>
    <li>速度变慢或无反应时…<br><i>点击下面两个按钮前先停用Shadowsocks</i></li>
    <ul>
      <li>请试一下<form style="display: inline" action="{{ url_for('restart') }}" method="POST"><input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"><input type="submit" class="btn btn-default btn-sm" value="重启隧道"></form>，再试。</li>
      <li>还是不行时，则<form style="display: inline" action="{{ url_for('recreate') }}" method="POST"><input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"><input type="submit" class="btn btn-default btn-sm" value="重建新隧道 (换端口/密码)"></form>，并重新配置。</li>
    </ul>
  </ul>

  <h1>使用规定和安全注意事项</h1>
  {% include "caution.html" %}
</div>

{% endblock %}
{% block js %}
<script src="js/qrcode.min.js"></script>
<script>
new QRCode("qrcode_gcm", {width: 128, height: 128}).makeCode({{ ss_links.aes_256_gcm.url|tojson|safe }});

/*
$(function() {
    var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    if (iOS) {
        $('#param_cfb').removeClass('hidden');
    } else {
        $('#param_gcm').removeClass('hidden');
    }
});*/
</script>
{% endblock %}
