{% extends "base.html" %}
{% block title %}重置密码{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <h1>重置密码</h1>

      <form method="POST" action="">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        {% if password_complexity_failed %}<div class="alert alert-danger" role="alert">密码不够长或不夠复杂，请重新输入。</div>{% endif %}
        <div class="form-group">
          <label for="email">用户名</label>
          <div>{{ user_profile.username }}</div>
        </div>
        <div class="form-group">
          <label for="password">新密码</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="新密码">
          <span class="help-block">最少8位长、越长越好；大写、小写、数字、符号至少有两款。</span>
        </div>
        <h3>安全注意事项</h3>
        <p>请细阅以下安全事项</p>
        <ul>
<li>邮件的连结不要直接点，钓鱼邮件会故意将点击和显示的弄成不一样。复制粘贴相对安全。</li>
<li>没有预期会收到的邮件，请勿点开任何网址或附件。</li>
<li>在打本网站前，请确认网址是以 {{ Config.web_url }} 开首的，包括https，并且打开后有绿色安全锁标志。</li>
<li>切勿在QQ/微信/短信等公众和受监控的渠道中提及Niceboat的网址、任何隧道设定、所使用软件的名字，否则请做好喝茶准备。</li>
<li>联系管理员时，所有细节应当面解决，或通过內部邮件通讯。</li>
        </ul>
        <button type="submit" class="btn btn-lg btn-primary">重置密码</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
